.text-center {
  text-align: center;
}
.ttu {
  text-transform: uppercase;
}
.header {
  border-top: 1px dashed #bcbcbc;
}
.printer-ticket {
  display: table !important;
  width: 100%;
  max-width: 400px;
  font-weight: light;
  line-height: 1.3em;
}
.printer-ticket,
.printer-ticket * {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 10px;
}
.printer-ticket th:nth-child(2),
.printer-ticket td:nth-child(2) {
  width: 110px;
}
.printer-ticket th:nth-child(3),
.printer-ticket td:nth-child(3) {
  width: 90px;
  text-align: right;
}
.printer-ticket th {
  font-weight: inherit;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px dashed #bcbcbc;
}
.printer-ticket tbody tr:last-child td {
  padding-bottom: 10px;
}
.printer-ticket tfoot .sup td {
  padding: 10px 0;
  border-top: 1px dashed #bcbcbc;
}
.printer-ticket tfoot .sup.p--0 td {
  padding-bottom: 0;
}
.printer-ticket .title {
  font-size: 1.5em;
  padding: 15px 0;
}
.printer-ticket .top td {
  padding-top: 10px;
}
.printer-ticket .last td {
  padding-bottom: 10px;
}
